<!DOCTYPE html>
<html>
    <head>
        <title>Red UTEQ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    </head>
    <body>
        <!-- fragmento de menu -->
        <div data-th-replace="~{fragments/menu :: menu}">...</div>

        <div class="container">
            <div class="d-flex justify-content-between mt-3">
                <h3 data-th-text="${tituloOper}"></h3>
                <a class="btn btn-danger" data-th-href="@{/}"  data-th-if="${operacion} == 'perfil'">
                    Cancelar
                </a>
            </div>
            <hr>

            <div class="container text-center">
                <div class="card">
                    <!-- Photo and names section -->
                    <div class="row g-3 align-items-center">
                        <form data-th-action="@{/perfil/guardarphoto}" data-th-object="${usuario}" method="POST" enctype="multipart/form-data" id="postFotoForm" class="col-5 p-5">
                            <!-- Profile image -->
                            <img class="img-ver-perfil me-2" id="perf-foto">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="imageFoto"><i class="fa-regular fa-image"></i></label>
                                <input type="file" class="form-control" name="imageFoto" id="imageFoto" accept=".png,.jpg,.jpeg">
                            </div>
                            <button class="btn btn-primary" type="submit">Cambiar imagen</button>
                        </form>
                        <form class="col-7 p-5 border-start" data-th-action="@{/perfil/guardar}"
                              data-th-object="${usuario}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" id="operacion" name="operacion" data-th-value="${operacion}" />
                            <h5>Datos de cuenta</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                <input type="text" data-th-field="*{nombres}" id="nombres" class="form-control" placeholder="Nombre" aria-label="Nombres" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                <input type="text" data-th-field="*{apellidos}" id="apellidos" class="form-control" placeholder="Apellidos" aria-label="Apellidos" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                <input type="text" data-th-field="*{correo}" id="correo" class="form-control" placeholder="Correo" aria-label="Correo" aria-describedby="basic-addon1">
                            </div>

                            <br>

                            <h5>Información personal</h5>
                            <input type="hidden" data-th-field="*{question}" id='question' name="question" class="form-control" aria-label="fechaNac" aria-describedby="basic-addon1">
                            <input type="hidden" data-th-field="*{password}" id='password' name="password" class="form-control" aria-label="fechaNac" aria-describedby="basic-addon1">
                            <input type="hidden" data-th-field="*{secretQuestion}" id='secret' name="secret" class="form-control" aria-label="fechaNac" aria-describedby="basic-addon1">
                            <input type="hidden" data-th-field="*{foto}" name="foto" id="foto" class="form-control" aria-label="fechaNac" aria-describedby="basic-addon1">
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                                <input type="date" data-th-field="*{fechaNac}" id='fechaNac' class="form-control" aria-label="fechaNac" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-graduation-cap"></i></span>
                                <input type="text" data-th-field="*{carrera}" id='carrera' class="form-control" placeholder="Escribe tu carrera" aria-label="fechaNac" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-school"></i></span>
                                <input type="text" data-th-field="*{prepa}" id='prepa' class="form-control" placeholder="Escribe tu preparatoria" aria-label="fechaNac" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-briefcase"></i></span>
                                <select class="form-select form-control" aria-label="visibilidad"
                                        data-th-field="*{trabaja}" id="trabaja" name="trabaja">
                                    <option value="" selected="" disabled>Selecciona una opción</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-briefcase"></i></span>
                                <input type="text" data-th-field="*{empresa}" id='empresa' class="form-control" placeholder="Escribe tu lugar de trabajo" aria-label="empresa" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                                <input type="text" data-th-field="*{lugarNac}" class="form-control" id="lugarNac" placeholder="Lugar de nacimiento" aria-label="lugar nacimiento" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-heart"></i></span>
                                <select class="form-select form-control" aria-label="sitSentimental"
                                        data-th-field="*{sitSentimental}" id="sitSentimental" name="sitSentimental">
                                    <option value="" selected="">Selecciona una opción</option>
                                    <option value="Soltero">Soltero</option>
                                    <option value="Casado">Casado</option>
                                    <option value="Divorciado">Divorciado</option>
                                    <option value="Viudo">Viudo</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i class="fa-solid fa-thumbs-up"></i></span>
                                <textarea type="text" data-th-field="*{gustos}" class="form-control" id="gustos" placeholder="Describe tus gustos" aria-label="gustos" aria-describedby="basic-addon1"></textarea>
                            </div>
                            <!--boton-->
                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit" data-th-text="${textBtn}">...</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script data-th-src="@{/js/perfil.js(${#authentication.name})}"></script>
        <div data-th-replace="~{fragments/footer :: footer}">...</div>
        <div data-th-replace="~{fragments/script :: script}"></div>

    </body>
</html>
