<!DOCTYPE html>
<html>
    <head>
        <title>Red UTEQ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
    </head>
    <body>
        <div data-th-replace="~{fragments/menu :: menu}">...</div>
        <div class="container">
            <div class="d-flex justify-content-between mt-3">
                <h3> Inicio </h3>
                <a class="btn btn-success" data-th-href="@{/publicacion/agregar}">
                    <i class="fa-solid fa-circle-plus"></i> publicación
                </a>
            </div>
            <hr>

            <div class="card mt-4" data-th-each="publi : ${publicaciones}">
                        <div class="card-header bg-secondary-subtle">
                            <div class="d-flex justify-content-between mt-3">
                                <div class="d-flex flex-row">
                                    <img class="img-perfil" data-th-src="@{'/img/' + ${publi.user.foto}}" data-th-alt="${publi.user.foto}">
                                    <h5 data-th-text="${publi.user.nombres}+' '+${publi.user.apellidos}" class="ms-3"></h5>
                                </div>
                                <div  class="d-flex flex-row">
                                    <p class="card-text"><small class="text-body-secondary" data-th-text="${publi.fecha}"></small></p>
                                    <div data-th-if="${#authentication.name} == ${publi.user.correo}" class="ms-3">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-secondary-subtle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa-solid fa-gear"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" data-th-href="@{/publicacion/editar/} + ${publi.id}">Editar</a></li>
                                                <li>
                                                    <form data-th-action="@{/publicacion/eliminar}" method="post">
                                                        <input type="hidden" id="id" name="id" data-th-value="*{publi.id}" />
                                                        <button class="dropdown-item" >Eliminar</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="white-space: pre-line;" data-th-text="${publi.contenido}"></p>
                            <div data-th-each="image : ${publi.imagenes}">
                                <img class="card-img" data-th-src="@{'/img/' + ${image.ruta}}" data-th-alt="${image.ruta}">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title"><i class="fa-regular fa-comment-dots"></i> Comentarios</h5>
                                </div>
                            </div>
                            <div class="row mt-3" data-th-each="comment : ${publi.comentarios}">
                                <div class="col-1">
                                    <img class="img-perfil" data-th-src="@{'/img/' + ${comment.user.foto}}" data-th-alt="${comment.user.foto}">
                                </div>
                                <div class="col card bg-secondary-subtle">
                                    <a href="" class="card-title links-clean" data-bs-toggle="modal" data-bs-target="#modalPerfil" data-th-onclick="verPerfil([[${comment.user.correo}]]);">
                                    <p class="card-text"><b data-th-text="${comment.user.nombres}+' '+${comment.user.apellidos}"></b></p>
                                    </a>
                                    <p class="card-text" data-th-text="${comment.comment}"></p>
                                </div>
                                <div class="col-1  text-end">
                                    <form data-th-action="@{/comentario/eliminar}" method="post" data-th-if="${#authentication.name} == ${comment.user.correo}">
                                        <input type="hidden" id="id" name="id" data-th-value="*{comment.id}" />
                                        <button class="btn-close" aria-label="Eliminar"></button>
                                    </form>
                                </div>
                            </div>
                            <form data-th-action="@{/comentario/guardar}" 
                                  data-th-object="${comentario}" method="POST">
                                <input type="hidden" id="id" name="id" data-th-value="*{id}" />
                                <input type="hidden" id="user" name="user" data-th-field="*{user}" />
                                <input type="hidden" id="idPubli" name="idPubli" data-th-value="${publi.id}" />
                                <div class="row mt-4">
                                    <div class="col-1">
                                        <img class="img-perfil" data-th-src="@{'/img/' + *{user.foto}}" data-th-alt="*{user.foto}">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" id="comment" data-th-field="*{comment}" />
                                        <span id="addressHelpInline" class="form-text text-danger-emphasis" data-th-if="#{fields.hasErrors('comment')}"
                                              data-th-errors="*{comment}">Error comment</span>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

        </div>

        <div data-th-replace="~{fragments/footer :: footer}">...</div>
        <div data-th-replace="~{fragments/script :: script}">...</div>
    </body>
</html>
